<!DOCTYPE HTML>
<html ng-app="Angello">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" src="app.js"></script>
	<title>Angello Lite</title>
</head>
<body>
	<div ng-controller="MainCtrl">
		<div class="span4 sidebad-content">
			<h2>Stories</h2>
			<div class="story" ng-repeat="story in stories"
							   ng-click="setCurrentStory(story)">
				<h4>{{story.title}}</h4>
				<p>{{story.description}}</p>
			</div>
		</div>
		<div class="span6 body-content">
			<h2>Story</h2>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" 
					       for="inputTitle">Title</label>
					<div class="controls">
						<input type="text"
							   placeholder="Title"
							   ng-model="newStoryTitle"></input>
				    </div>
				</div>
				<div class="control-group">
					<label class="control-label"
					       for "inputDescription">Description</label>
					<div class="controls">
						<textarea id="inputDescription"
						   placeholder="Description"
						   rows="3"
						   ng-model="newStoryDesc"></textarea>
				    </div>
			    </div>
			    <div class="control-group">
	    	        <div class="controls">
	    	        	<button id="addStory"
	    	        	        class="medium-btn"
	    	        	        type="button"
	    	        	        ng-click="addNewStory(getNewStoryTitle(), getNewStoryDesc())">Add Story
	        	        </button>
        	        </div>
    	        </div>
		    </form>
		</div>
	</div>
</body>